<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">

   <script src="/js/app.js" defer></script>
   <link rel="stylesheet" href="/css/styles.css">
   <link rel="stylesheet" href="/css/index.css">

   <title>Weather</title>
</head>

<body class="container full-height-grow">
   <header class="main-header">

      <a href="/" class="brand-logo">
         <img src="">
         <div class="brand-logo-name1">-Forecast</div>
         <div class="brand-logo-name2"> Weather-</div>

      </a>

      <nav class="main-nav">
         <ul>
            <li> <a href="/"></a> </li>
            <li> <a href="/"></a> </li>

         </ul>
      </nav>

   </header>
   <section class="home-main-section">
      <div class="img-wrapper">
         <div class="lady-image"></div>
      </div>
      <div>
         <div class="call-to-action">
         </div>

         <form class="submit_form">
            <div class="submit_form">
               <input type="text" class="input" placeholder="Type a location.....">
               <button class="box">Search</button>
            </div>
         </form>


         <dir class="forecast">
            <p id="message1"></p>
            <p id="message2"></p>

         </dir>


      </div>
   </section>
   <div class="home-page-circle-1"></div>
   <div class="home-page-circle-2"></div>
   <div class="home-page-circle-3"></div>


   <footer>
      <p>Ray-Web-design solutions copyright &copy; 2020 </p>
   </footer>
</body>

</html>