<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <meta name="description" content="Affordable and professional web solutions">
   <meta name="keywords" content=" web design affordable web design professional web design">
   <meta name="author" content=" Raymond Baguma">
   <link rel="icon" type="image/png" style="border-radius: 50pc;" sizes="32x32" href="/public/images/company-logo1.png">
   <title>ray-web | Obudde 1.0.0</title>


   <!-- CDN source code links -->
   <!-- google fonts -->
   <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap" rel="stylesheet">
   <!-- Animate CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
   <!-- Font Awesome -->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
   <!-- Google Fonts -->
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
   <!-- Bootstrap core CSS -->
   <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
   <!-- Material Design Bootstrap -->
   <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
   <!--Custom CSS-->
   <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="container full-height-grow">
   <!-- Card -->
   <div id="mainBody" class="card weather-card">
      <header>
         <nav class="navbar  display-block">
            <!-- Title -->
            <div class="lead">
               <h4 class="card-title font-weight-bold">Weather</h4>
               <h4 class="card-title font-weight-bold">Forecast</h4>
            </div>

            <form id="form" class="form-inline submit_form ">
               <div class="md-form  submit_form">
                  <input type="text" id="form1" class="form-control input">
                  <label for="form1">Type a location.....</label>
                  <button class="box btn btn-md">Search</button>

               </div>
            </form>
         </nav>
      </header>

      <!-- Card content -->
      <div class="card-body pb-3">
         <div class="d-flex justify-content-between">
            <p class="display-1 degree">23</p>
            <i class="fas fa-sun-o fa-5x pt-3 amber-text"></i>
         </div>

         <div id="results" class="container-fluid my-5 py-5 z-depth-1">
            <section class="px-md-5 mx-md-5 dark-grey-text text-center">
               <div class="row d-flex justify-content-center">
                  <p class="card-title text-center" id="message1"></p>
                  <hr class="hr">
                  <p class="card-text mb-2" id="message2"></p>

               </div>
            </section>
            <!--Section: Content-->
         </div>

         <footer class="">
            <div id="footer_container" class="d-flex justify-content-between">
               <p><i class="fas fa-tint fa-lg text-info p-4"></i>3% Precipitation</p>
               <p><i class="fas fa-leaf fa-lg text-info p-4"></i>21 km/h Winds</p>
            </div>
         </footer>

      </div>
   </div>
   <!-- JQuery -->
   <script type="text/javascript " src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js "></script>
   <!-- Bootstrap tooltips -->
   <script type="text/javascript "
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js "></script>
   <!-- Bootstrap core JavaScript -->
   <script type="text/javascript "
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js "></script>
   <!-- MDB core JavaScript -->
   <script type="text/javascript "
      src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js "></script>
   <!-- Page Transition Animation using SWUP -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/swup/2.0.11/swup.min.js"
      integrity="sha512-S4G5+dDy+JyYnoo+lo/55ObiGjK1rr+loDrx/MowOJEb3dZhtC5qljtugHgIsvKmgCtvUa5yEJnbyuKMIm5NUA=="
      crossorigin="anonymous"></script>
   <!-- Animation js library -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
   <script src="/js/app.js"></script>
</body>

</html>