 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 :root {
     --bgColor: black;
     --textColorBlack: black;
     --textColorRed: rgb(247, 81, 81);
     --textColorWhite: #FFFFFF;
     --main-font: 'Sansita Swashed', cursive;
     --background-image: linear-gradient(to right, #434343 0%, black 100%);
 }
 
 body {
     background-color: #04befe;
 }
 
 body #mainBody {
     margin-top: 10%;
     border-radius: 1rem;
     background-color: var(--textColorWhite);
 }
 
 .navbar {
     border-radius: 1rem 0rem;
     background-image: linear-gradient(to top, #5aade9 0%, #e3eeff 99%, #e3eeff 100%);
 }
 
 .navbar .lead {
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .btn {
     border-radius: 4px;
     transform: scale(1.1);
     color: #FFFFFF;
 }
 
 .form1:focus {
     background-color: red;
 }
 
 .navbar .lead h4:nth-child(1) {
     padding-right: 1em;
     color: rgb(224, 86, 86);
     font-family: var(--main-font);
     text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15);
 }
 
 .navbar .lead h4:nth-child(2) {
     color: rgb(253, 250, 250);
     font-family: var(--main-font);
     text-shadow: 4px 2px 2px rgba(31, 29, 29, 0.4);
 }
 
 #form1 {
     color: #FFFFFF;
 }
 
 .submit_form label {
     color: #fcf8f8;
 }
 
 .degree {
     position: relative;
     padding-top: 1rem;
     font-size: 30px;
     color: red;
     text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15);
 }
 
 #results {
     border-radius: .6em;
 }
 
 section .row p:nth-child(1) {
     font-family: var( --main-font);
     font-size: 20px;
     border-radius: 5px;
     padding-left: .1rem;
     padding-right: .1rem;
     border: none;
     box-shadow: 2px 2px 12px rgb(0, 0, 0, .4);
 }
 
 #result1,
 #result2 {
     padding: 0px 5px 0px 5px;
 }
 
 section #message2 {
     font-family: var( --main-font);
     font-size: 20px;
     padding-left: .1rem;
     padding-right: .1rem;
     color: var(--textColorWhite);
 }
 
 section #message1 {
     font-family: var( --main-font);
     color: var(--textColorRed);
 }
 
 #results {
     background-image: linear-gradient(to top, #5aade9 0%, #e3eeff 99%, #e3eeff 100%);
 }
 
 hr {
     color: black;
 }
 
 #footer_container {
     position: relative;
     background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
 }
 
 #footer_container p:nth-child(2) {
     padding-right: 1rem;
 }
 
 footer {
     position: relative;
     margin-left: -1.3rem;
     margin-right: -1.3rem;
 }